/* color code : #234038             #38734D               #458C57              #49A657 */

/* poppins font */
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  body{
    font-family: 'Poppins';
    overflow-x: 0;
    margin: 0;
    padding: 0;
  }

  /* scroll top */
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#65bd5a;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background:#38734D;   
  }
  
  #myBtn:hover {
    background-color: #1aa94d;
  } 

  /* whatapp chat */
  #chatBtn{
  
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    font-size: 30px;
    border: none;
    outline: none;
    background-color:#65bd5a;
    color: white;
    cursor: pointer;
    padding: 4px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background:#38734D;   
  }
   
  #chatBtn:hover {
    background-color: #1aa94d;
  } 

  /* navbar */
  .navbar{
    font-weight: bold !important;
    font-size: 15px;    
  }
  .nav_menu a{
    color: #38734D !important;
  }
 #link_active{
    color: black !important;
  }
  #logo_header{
    padding-left: 16%;
  }
 #menus{
    padding-left: 20%;
 }
 .button_book{
    margin-right: 15%;
 }

.user_image{
    margin-right: 6%;
}
#user_profile{
    margin-right: 7%;
}
.nav_button{
    width: 100px;
    padding: 4%;
    color: white;
    border-radius: 13px;
    background-color: #38734D;
    border: none;
    font-size: 13px; 
    font-weight: bold !important;
}
.me-3 {
    margin-right: 2rem!important;
}


/* footer */

.footer_index{
  background-color: black ;
  color: white;
  font-size: 17px;
}
.text-darks{
  color: white;
  font-size: 12px;
}
#footer_logo{
  padding-right: 5% !important;
}
.footer_social{
  padding-left: 14%;
}
.footer_phone{
  padding-bottom: 6% !important;
}
#footer_address{
  line-height: 0px;
}
.footer_heading{
 padding-top: 6% !important;
}
/*all page banner */
.page_banner{
  background-color:#458C57 ;   
}
.page_banner_head p{
  color: white;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  padding-top: 6%;
  padding-bottom: 6%;      
}


/* index page */

.banner{
width: 100%;
height: 100vh; 
background-image: url("../images/smitha_banner.webp") , url("../images/smitha_banner.jpg") ;
background-size: cover;
background-position: center center; 
background-repeat: no-repeat;
background-attachment: fixed
}


.banner_heading{  
  top: 70%;
  left: 70%;  
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: left;
  color: white;
  padding-left: 60%;
  background: linear-gradient(135deg, rgb(27 25 25 / 60%), rgb(23 21 21 / 15%));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 20px;
  width: 600px;
  margin: 0 auto;  
  border-radius: 15px;
}

.banner_head{

  font-weight: bold;
  line-height: 50px;
  font-size: 40px;
}
hr{
  width: 300px;
  opacity: 11.25 !important;
 
}
.banner_para{
  margin-bottom: 0% !important;
}
.index_button{
  border-radius: 20px;
  color: #234038 ;
  font-weight: bold;
  border: white;
  
}
.banner_heading p{
  padding-bottom: 2%;
}
.index_about{
  padding-top: 5%;
}
.index_about img{
  width: 100%;
  border-radius: 7%;
}
.index_about_firstheading{
  color:  #458C57  ;
 
  
}
.index_second{
  color: #458C57;
  font-size: 40px;
  font-weight: bold;
}
.index_new3{
  font-size: 14px;
}
.indexnew_button{
  border-radius: 20px;
  color: white ;
  font-weight: bold;
  border: #234038;
  background-color: #458C57; 
  font-size: 14px; 
  padding-left: 2%;
  padding-right: 2%;
}
.index_service{
 padding-top: 5%;
 padding-bottom: 5%;
}
.new2{
  text-align: center;
  color: #458C57;
 
}
 .new3{
  text-align: center;
  color: #458C57;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 20px;
 }
 .cards{
  border: 1px solid #458C57;
  border-radius: 35px;
  padding: 10px;
 }
 .index_preena_card{
  width: 30rem;
 }


 .col_cards{
  text-align: center;
  
  color: black; 
  
}
.col_cards:hover{
  color: white;
  background-color: #458C57;  
  box-shadow: 2px 5px 5px 5px  #458C57;
}
.card-text{
  text-align: center;
  font-size: 15px;
}
.card-title{
  color: #458C57;
  text-align: center;
  font-weight: bold;
}

.card-link{
  text-align: center;
  color: #458C57;
}

.card-text :hover{
  color: white;
}

.index_book{
  text-align: center;
  color: white;
  font-size: 35px;
  padding-top: 10%;
  
}
.index_book_true{
  text-align: center;
  color: white;
  font-size: 20px;  
}
 

/*index_contact*/

.index_contact{
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #458C57;
}
.heading_index{
  color: white;
  font-weight: 700;
  font-size: 30px;
}
.contact_rows{
  color: white;
  padding-top: 4%;
}

.contact_index{
  padding-bottom: 5%;
}
.contact_index input{
  background-color: #6da47b;
  border: none;
  border-radius: 5px;
  width: 90%;
  padding-top: 1%;
  padding-bottom: 1%;  
}
.contact_index textarea{
  background-color: #6da47b;
  border: none;
  border-radius: 5px;
  width: 90%;
  padding-top: 1%;
  padding-bottom: 1%;
  resize: none;
}
.contact_index input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white ;
  opacity: 1; /* Firefox */
}
.contact_index textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white ;
  opacity: 1; /* Firefox */
}

.contact_button_index{
  text-align: end;
  padding-right: 9%; 
 }
 .contact_button_index button{
 border: none;
 background-color: white;
 border-radius: 13px;
 padding-left: 3%;
 padding-right: 3%;
 padding-top: .5%;
 padding-bottom: .5%;
 color: #458C57;
 font-weight: 900;
 }
/* about page */

.about_content_section{
    padding-top: 5%;
    
}
.about_image_col img{
    width: 100%;
    border-radius: 13px;
}
    
.heading{
    color: #458C57;
    font-weight: 700;
    font-size: 25px;
}
.paraGraph{
    font-weight: 500;
    font-size: 16px;
}
.certificates{
    padding-top: 5%;
    padding-left: 6%;
    
}

.list_padding{
    padding-left: 15%;
}
.list_padding_qualification{
  padding-left: 20%;
}

.certificates .row #list_certificate_image .list_none{
  background: url('../images/new_icon_certificate.webp') no-repeat left center;
  padding: 15px 24px 8px 60px;
  list-style: none;
  margin: 0;
  vertical-align: middle;
  color:#458C57 ;
  font-size: 18px;
  font-weight: bold;
}

.certificates .row #list_qualification_image .list_none li{
  background: url('../images/icons-16.webp') no-repeat left center;
  
  padding: 15px 24px 8px 55px;
  list-style: none;
  margin: 0;
  vertical-align: middle;
  color:#458C57 ;
  font-size: 18px;
  font-weight: bold;
}

.book_session{
  padding-top: 5%;
  background-image: url('../images/wave-01.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.book_session_now{
  text-align: center;
  color: white;
  padding-top: 12%;
  padding-bottom: 1%;
}
.book_head_one{
  font-weight: 600;
  font-size: 25px;
}
.book_head_two{
  font-size: 20px;
}
.book_session_list{
  display: flex;
  justify-content: center;
  color: white;
}

.book_session_list ul {
  text-align: left;
  list-style: none;
}

.book_session_list ul li:before {
  content: '✓  ';
}
.book_session_list ul li{
  padding-bottom: 2%;
}
.book_session_button{
  margin-top: 2%;
  text-align: center;
 padding-bottom: 3%;
}
.book_session_button button{
  border-radius: 15px;
  border: none;
  background-color: white;
  color: #234038;
  font-weight: 900;
  padding: .2% 1%;

}


/*testimonial*/

.testimonial_head{
  color: #458C57;
  font-size: 30px;
  text-align: center;
  padding-top: 5%;
  font-weight: bold;
}
#testmonial_container{
  padding-top: 0% !important;
  padding-bottom: 0% !important;
}
.carousel_inner_card{
 
  padding-top: 3% !important;
}
.testimonial_client_name{
  font-size: 18px;
  color: #458C57;
  font-weight: 700;
}
.testimonial_quotes{
  font-size: 15px;
  text-align: justify;
}
.testimonial_client_image img{
  margin-left: -5%;
}

/*blog index*/
.our_blog{
  font-size: 18px;
  
}
.meditation{
  padding-top: 5%;
  font-size: 30px;
  color: black;
  line-height: 0px;
}
.meditation_body{
  font-size: 27px;
  color: black;
 
}
/* blog_page */
.blog{
  padding-top: 5%;
  padding-bottom: 5%;
}
.blog_heading{
  text-align: center;
  color: #458C57;
}
.latest_blog{
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 3%;
}

.our_blog{
  font-size: 18px;
}
.meditation{
  font-size: 30px;
  color: black;
}
.meditation_body{
  font-size: 27px;
  color: black;
}
.blog_meditation{
  font-size: 30px;
  color: #458C57;
  font-weight: bold;
}
.meditation_body_blog{
  font-weight: bold;
  line-height: 3px;
  margin-bottom: 5%;
  font-size: 30px;
  color: #458C57;
}
.mind_meditation{
  margin-top: 3%; 
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.our_blogs img{
border-radius: 25px;
}
/* service page */

.work_with_me_section{
  padding-top: 5%;
  padding-bottom: 2%;
}
.work_with_container{
  text-align: center;
}
.para_center{
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
  color: black !important;
  font-weight: 600;
}
.service_card{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 6%;
  display: flex;
  justify-content: center
}
a{
  color: inherit;
}
a:hover{
  color: inherit;
}
.col_card{
  text-align: center;
  padding-left: 20% !important;
  padding-right: 20% !important;
  color: black;  
}
.col_card:hover{
  color: white;
  background-color: #458C57;  
  box-shadow: 2px 5px 5px 5px  #458C57;
}
.card_head{
  font-weight: bold;
  font-size: 19px;
  padding-top: 5%;
}
.border {
  border: var(--mdb-border-width) var(--mdb-border-style)  #458C57!important;
  border-radius: 10px;
}
.card_view{
  padding-top: 3%;
  padding-bottom: 3%;
}

/* contact page */
.contact_section{
  padding-top: 3%;
  padding-bottom: 3%;
}
.contact_container{
padding-left: 10%;
padding-right: 10%;
}
.contact_row{
  padding-top: 4%;
}
.contact{
  padding-bottom: 5%;
}
.contact input{
  background-color: #c8d8cd;
  border: none;
  border-radius: 5px;
  width: 90%;
  padding-top: 1%;
  padding-bottom: 1%;  
}
.contact textarea{
  background-color: #c8d8cd;
  border: none;
  border-radius: 5px;
  width: 90%;
  padding-top: 1%;
  padding-bottom: 1%;
  resize: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #38734D ;
  opacity: 3; /* Firefox */
}
.contact_button{
 text-align: end;
 padding-right: 9%; 
}
.contact_button button{
border: none;
background-color: #458C57;
border-radius: 13px;
padding-left: 3%;
padding-right: 3%;
padding-top: .5%;
padding-bottom: .5%;
color: white;
font-weight: 900;
}
.contact_address{
  padding-top: 12%;
padding-left: 4%;
}
.address_head{
  font-weight: 700;
  color: black;
}
.address_content{
  color: black;
}
.address_head_index{
  font-weight: 700;
  color: white;
}
.address_content_index{
  color: white;
}



 /* media Queries */
 @media only screen and (min-width: 4000px){
  .contact_forms{
  margin-top: 7%;
  }
  .contact_address{
    width: 49.333333% !important;
  }
 }
 
 @media only screen and (min-width: 3400px){
  .service_card {
    padding-left: 0%;
    padding-right: 0%;
 }
}
@media only screen and (max-width: 1200px){
.index_second{
  font-size: 30px;
}
.index_about_firstheading{
  margin-bottom: 0% !important;
}
.index_about_image{
  margin-top: 5%;
}
#neenu_card{
  margin-left: 9% !important;
}
}

 @media only screen and (max-width: 992px){
 
    #menus{
        padding-left: 0%;
     }
     #logo_header{
        padding-left: 0%;
      }
      .col_card {
        text-align: justify;
         padding-left: 5% !important; 
         padding-right: 5% !important
      }
      .card_head {
        text-align: center;
      }
      .meditation_body_blog {
        line-height: 32px;
      }
      .blog_meditation{
      margin-bottom: 0% !important;
      }
      .index_second{
        font-size: 25px;
      }
      .index_about_image{
        margin-top: 7%;
      }
      .index_new3{
        text-align: justify;
      }
      #index_card_row .col-sm-6{
        width: -webkit-fill-available;
       
        margin-bottom: 5%;
      }
      #index_card_row #neenu_card{
        margin-left: 0% !important;
      }
 }

 @media only screen and (max-width: 992px) and (min-width: 767px) {
  .about_image_col img{
    margin-top: 50%;
  }
  #index_card_row .col-sm-6{
    padding-left: 20%;
  }
 }
 @media only screen and (max-width: 912px){
  .book_session_now{
    padding-top: 17%;
  }
  .footer_social{
    padding-left: 0%;
   }
 }
 @media only screen and (max-width: 767px){
 .index_preena_card{
  width: -webkit-fill-available;
 }
.banner_heading{
  
  top: 80%;
  left: 10%;
}
  .book_head_one{
    padding-top: 17%;
  }
  #para_top_padding{
    padding-top: 7% !important;
  }
  .service_card .row .col-6{
    width: -webkit-fill-available !important;
   }
   #list_qualification_image .list_none{
    padding-left: 0% !important;
   }
   .about_content_section {
    padding-left: 3%;
    padding-right: 3%;
    text-align: justify;
   }
   .index_about_row .col-sm-6{
    width: -webkit-fill-available !important;
   }
   .index_preena_card{
    margin-bottom: 5%;
   }
   .index_blog_row .col-6{
    width: -webkit-fill-available !important;
   }
   .index_blog_content{
    margin-top: 4%;
   }
   .index_about_image{
    margin-bottom: 6%;
   }
  
 }

 @media only screen and (max-width: 575px){
 .index_mobile{
  padding-left: 3%;
  padding-right: 3%;
 }
 }
 @media only screen and (max-width: 454px){
 .book_session_now {
     padding-top: 26%;
 }

 }

/* index banner */
@media only screen and (max-width: 992px){
  
  .banner_head{
    font-size: 30px;
  }
  .banner_heading{
    width: 550px;
  }
}
@media only screen and (max-width: 931px){
  
  .banner_head{
    font-size: 30px;
  }
  .banner_heading{
      top: 75%;
      left: 54%;
 
  }
}
@media only screen and (max-width: 631px){
  
  .banner_head{
    font-size: 30px;
  }
  .banner_heading{
      top: 75%;
      left: 48%;
 
  }
}
@media only screen and (max-width: 590px){
  
  .banner_head{
    font-size: 20px;
  }
  .banner_heading{
      top: 72%;
      left: 48%;
      width: 416px;
  }
  .banner_para{
    font-size: 15px;
  }
}
@media only screen and (max-width: 448px){
  .banner{
    background-image: url("../images/banner_mobile_smitha.webp") ,  url("../images/banner_mobile_smitha.jpg") ;
  }
  
  .banner_head{
    font-size: 18px;
  }
  .banner_heading{
      top: 72%;
      left: 49%;
      width: 360px;
    }
  
  .banner_para{
    font-size: 15px;
  }
}
@media only screen and (max-width: 379px){
  .banner{
    background-image: url("../images/banner_mobile_smitha.webp") , url("../images/banner_mobile_smitha.jpg");
  }
  
  .banner_head{
    font-size: 16px;
  }
  .banner_heading{
      top: 72%;
      left: 49%;
      width: 326px;
    }
  
  .banner_para{
    font-size: 15px;
  }
.banner_heading hr{
    display: none;
  }
}
@media only screen and (max-width: 327px){
  .banner_heading{
    width: 305px;
}
}

/* new css 13-mar */
#para_top_padding{
  padding-top: 2%;
}
.about_first_para{
  padding-top: 2%;
}

.contact_form_column{
  margin-top: 7%;
}


@media only screen and (min-width: 1500px){
  #menus {
    padding-left: 26%;
}
}
@media only screen and (min-width: 1600px){
  #menus {
    padding-left: 28%;
}
}

@media only screen and (min-width: 1800px){
  #menus {
    padding-left: 30%;
}
}
@media only screen and (min-width: 1800px){
  #menus {
    padding-left: 30%;
}
}

@media only screen and (min-width: 2400px){
  #menus {
    padding-left: 34%;
}
}
@media only screen and (min-width: 2600px){
  #menus {
    padding-left: 36%;
}
}
@media only screen and (min-width: 2900px){
  #menus {
    padding-left: 39%;
}
}

@media only screen and (min-width: 1032px) and (max-width: 1220px){
  #menus {
    padding-left: 13%;
}
}
@media only screen and (min-width: 992px) and (max-width: 1032px){
  #menus {
    padding-left: 9%;
}
}


/* line no : 136  ::  font-size: 35px; */

.contact_forms input::placeholder{
  opacity: 0.5;
  font-size: 13px;
  
}
.contact_forms textarea::placeholder{
  opacity: 0.5;
  font-size: 13px;
  
}
.work_with_container .heading{
  font-size: 35px;
}
.video_client_name{
  padding-top: 3%;
  text-align: center;
}
#client_video{
  width:50%;
  height:50%;
  padding-left: 3%;
}
@media only screen and (max-width: 992px){
  #nav_z-index{
      z-index: 1;
      margin-top: 4% !important;
  }
  #client_video{
    width:100%;
  }
}
